.hero {
    padding-top: 150px;
    &__text {
        text-align: center;
        font-size: 50px;
        padding-bottom: 20px;
        color: rgb(157, 255, 0);
        font-weight: 900;
        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(164, 164, 255);
            content: '';
            opacity: .0;
        }
    }

    &__contador {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;

        &__number {
            background-color: rgb(228, 227, 227);
            border-radius: 4px;
            padding: 10px;
            font-weight: bold;
            font-size: 100px;
            color: rgb(22, 22, 22);
        }

        &__text {
            background-color: black;
            border-radius: 4px;
            color: rgb(167, 255, 3);
            font-size: 25px;
        }
    };

    @media (max-width: 1024px) {
        padding-top: 50px;
        &__text {
            font-size: 50px;
            padding-bottom: 5px;
        }

        &__contador {
    
            &__number {
                background-color: rgb(248, 241, 233);
                border-radius: 4px;
                padding: 10px;
                font-weight: bold;
                font-size: 100px;
            }
        }
    }

    @media (max-width:640px) {
        padding-top: 25px;
        &__text {
            font-size: 25px;
            padding-bottom: 5px;
        }

        &__contador {
    
            &__number {
                background-color: rgb(248, 241, 233);
                border-radius: 4px;
                padding: 5px;
                font-weight: bold;
                font-size: 25px;
            }
    
            &__text {
                background-color: black;
                border-radius: 4px;
                color: rgb(253, 240, 224);
                font-size: 10px;
            }
        }
    };
}